In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
data = pd.read_csv("50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
# Extract X, y as numpy array
X = data.iloc[:, [0, 1, 2]].values
y = data.iloc[:, -1:].values
print(X.shape)
print(y.shape)

(50, 3)
(50, 1)

In [4]:
# Split data into traning set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 42)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_train.shape)

(40, 3) (40, 1)
(10, 3) (40, 1)

In [5]:
# Mmáº£lize data in to [0,1]
# X_scale = (X-X_min)/(X_max - X_min)
X_min = X_train.min(axis=0, keepdims=True)
# X_min
X_max = X_train.max(axis=0, keepdims=True)
# X_max
X_train_scaled = (X_train - X_min)/(X_max - X_min)
X_test_scaled = (X_test - X_min)/(X_max - X_min)

print(X_train_scaled.min(), X_train_scaled.max())
print(X_test_scaled.min(), X_test_scaled.max())

0.0 1.0